<% var i; for (i=0; i < quizzes.length; i++) { %>        
    <tr>
      <td><a href="quizzes/<%= quizzes[i].id %>"><%= quizzes[i].pregunta %></a></td>
      <td><a href="quizzes/<%= quizzes[i].id %>/edit"><button>editar</button></a></td>
    </tr> 
  <% } %>
</table>
<p/>
<a href="/quizzes/new"><button>Crear pregunta</button></a>